.sliderdiv {
	float: left;
	padding: 1em;
	margin: 1em;
	text-align: center;
}

.mainvoldiv {
	padding: 1em;
}

.slider {
	float: none;
	display: inline-block;
}

.app_name {
    padding: 0;
    margin: 0;
}

.uid_small {
    font-size: smaller;
    color: silver;
    padding: 0;
    margin: 0;
}